[submodule "EcoBin-WebApp"]
	path = EcoBin-WebApp
	url = https://github.com/mferuscomelo/EcoBin-WebApp.git
[submodule "EcoBin-AVR"]
	path = EcoBin-AVR
	url = https://github.com/mferuscomelo/EcoBin-AVR.git
