[submodule "EcoBin-WebApp"]
	path = EcoBin-WebApp
	url = https://github.com/mferuscomelo/EcoBin-WebApp
[submodule "EcoBin-ESP32Cam"]
	path = EcoBin-ESP32Cam
	url = https://github.com/mferuscomelo/EcoBin-ESP32Cam.git
